img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  .column {
    flex-basis: 100%;
  }
  
  @media screen and (min-width: 300px) {
    .column {
      flex: 1;
    }
  }
.img-fix{
    max-height: 5em;
    max-width: 7.55em;
}
  @media screen and (min-width:600px){
    .img-fix{
        max-height: 6em;
        max-width: 9.1em;
    }
  }

  @media screen and (min-width:768px){
    .img-fix{
        max-height: 12em;
        max-width: 18.2em;
    }
  }

.text-center{
    text-align: center;
}

.hide{
    display: none;
}

